body{
    background-color:rgb(237, 230, 230);
}

nav{
    color: white;
    background-color:brown;
    font-style: italic;
    font-weight: 400;
    padding: 23px;
}

nav,ul{
    display:flex;
    justify-content: space-between;
}

ul{
    gap: 20px;
}

li{
    list-style-type: none;
}